{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
{% endblock %}

{% block body %}
	<div class="text-center">
		<div class="my-5">
			<h1>{{post.title}}</h1>
			<div class="col-8 mx-auto">
				{% if post.picture %}
					<div>
						<img src="{{ asset('assets/img/upload/' ~ post.picture) }}" alt="{{ post.title }}">
					</div>
				{% endif %}
				<div class="mt-5" id="postContent">
					<p class="my-3">{{post.content}}</p>
				</div>
				<div class="text-start">
					<small>Article mis en ligne le
						{{ post.createdAt|format_datetime('long', 'none', locale='fr') }}</small>
				</div>
			</div>
		</div>
	</div>
	<div class="text-start">
		<a href="{{ path('app_update_post', {id:post.id}) }}">
			<button class="btn btn-info">Modifier</button>
		</a>
		<a href="{{ path('app_delete_post', {id:post.id}) }}">
			<button class="btn btn-danger" onclick="alert('Etes-vous sûr de vouloir supprimer?')">Supprimer</button>
		</a>
	</div>
{% endblock %}
